<h1 class="heading text-center" >
  <%= @post.title if @post.title %></h1><br>

<div class="row">
	<div class="text-center post">  <!-- align text center -->
    <p>Posted By:</p>
		<h3><a href="/user/<%= @post.user.id %>"> <%= @post.user.username %></a></h3>
	</div><br><br>

  <div class="text-center post">
    <p>Artist:</p>
    <h3><%= @post.artist %></h3>
  </div><br><br>

  <div class="text-center post">
    <p>Location:<p>
    <h3><%= @post.location %></h3>
  </div><br><br>

<!-- append content below the user who  posted the blog -->
  <div class="text-center post-content">
    <p>Review:</p>
		<h3><%= @post.content %></h3>
	</div>
</div>
<br>
<center><a href="/edit_post"><button type="button" class="btn btn-default navbar-btn">Edit Post</button></a>
<br>
