<h1 class="heading"><%= @user.username.capitalize %>'s Info:</h1>

<div class="User_info">
	<h4 class="info">
	First Name: <%= @user.fname %><br><br>
	Last Name: <%= @user.lname %><br><br>
	Location: <%= @user.user_location %><br><br>
	Favorite Genre: <%= @user.fav_genre %><br><br>
	Favorite Artist 1: <%= @user.fav_artist1 %><br><br>
	Favorite Artist 2: <%= @user.fav_artist2 %><br><br>
	Favorite Artist 3: <%= @user.fav_artist3 %><br><br>
</h4>
</div><hr>


<h2>[ <%= @user.username.capitalize %>'s' Posts ]:</h2>
<ol class="list-number">
	<% @all_posts_by_user.reverse.each do |post| %>
		<a href="/after_post/<%= post.id %>"><li><h3><%= post.title %></h3>
			<% puts "@all_posts_by_user", @all_posts_by_user.inspect %>
			<h4><a class="post" href="/user/<%= @user.id %>">
				<%= post.user.username if post.user %></a></li></a></h4>
		<hr>
	<% end %>
</ol><br>
