<h1 class="heading"><%= @user.username %>'s Info:</h1>

<div class="User_info">
	<h2 class="info">
		<br><br>First Name: <%= @view_user.fname %>
		<br><br>Last Name: <%= @view_user.lname %>
		<br><br>Location: <%= @view_user.user_location %>
		<br><br>Favorite Genre: <%= @view_user.fav_genre %>
		<br><br>Favorite Artist 1: <%= @view_user.fav_artist1 %>
		<br><br>Favorite Artist 2: <%= @view_user.fav_artist2 %>
		<br><br>Favorite Artist 3: <%= @view_user.fav_artist3 %>
	</h2>
</div>



<ol class="text-center">
	<% @view_user.posts.each do |post| %>
		<h3><a href="/after_post/<%= post.id %>"><li><%= post.title %><br><a class="post" href="/user/<%= post.user.id if post.user %>"><%= post.user.username if post.user %></a></li></a></h3>
		<hr>
	<% end %>
</ol><br>
