<h1 class="heading">Info About The Blogger:</h1><br/>

<div class="User_info">
	<h2 class="info">Username: <%= @view_user.username %>
		<br><br>First Name: <%= @view_user.fname %>
		<br><br>Last Name: <%= @view_user.lname %>
		<br><br>Location: <%= @view_user.user_location %>
		<br><br>Favorite Genre: <%= @view_user.fav_genre %>
		<br><br>Favorite Artist 1: <%= @view_user.fav_artist1 %>
		<br><br>Favorite Artist 2: <%= @view_user.fav_artist2 %>
		<br><br>Favorite Artist 3: <%= @view_user.fav_artist3 %>
	</h2>
</div>

<div class="User_info">
	<h3>[Recent Posts]:</h3>
	<a href="/after_post/<%= @view_post.id %>">
  <h2 class="post-info"><%= @view_post.title %></h2></a>
</div>
